# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.py,cover

# Django
*.mo
db.sqlite3
db.sqlite3-journal

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
