{% extends 'blog/base.html' %}

{% block title %}
    {% if object %}
        投稿の編集
    {% else %}
        新規投稿
    {% endif %}
    | Djangoブログ
{% endblock %}

{% block content %}
    <h2>
        {% if object %}
            投稿を編集する
        {% else %}
            新しい投稿を作成する
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %} {# CSRF対策のためのトークン #}

        {{ form.as_p }} {# フォームのフィールドを<p>タグでレンダリング #}

        <button type="submit" class="btn">
            {% if object %}
                更新する
            {% else %}
                作成する
            {% endif %}
        </button>
        <a href="{% if object %}{% url 'blog:post_detail' pk=object.pk %}{% else %}{% url 'blog:post_list' %}{% endif %}" class="btn btn-secondary">
            キャンセル
        </a>
    </form>
{% endblock %}
